<!-- Content Header -->
<section class="content-header">
  <div class="container">
    <div class="row mb-2">
      <div class="col-md-6 col-sm-12">
        <h1 class="m-0"><%= t 'actions.new' %> <%= t 'actions.models.user' %></h1>
      </div>
    </div>
  </div>
</section>

<!-- Content -->
<section class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= render 'form', user: @user %>
      </div>
    </div>
  </div>
</section>
